.b-pane {
    background-color: rgb(255, 255, 255);
}

.b-title {
    color: rgb(0, 0, 0);
}

.bar-row {
    flex-direction: row;
    align-items: center;
}

.bar-icon {
    width: 34px;
    height: 34px;
    margin-top: 4px;
    margin-right: 4px;
    margin-bottom: 4px;
    margin-left: 4px;
}

.unity-progress-bar {
    flex-grow: 1;
}
