.b-section {
    flex-shrink: 0;
    align-items: center;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
}
